#myCanvas{
    border-width : 10px;
    background-color : white;
    border-style : ridge;
  }
  
  .body_backgorund {
      background-image: url("https://www.teahub.io/photos/full/3-37218_colorful-flower-abstract-art-wallpaper-colorful-flower-abstract.jpg");
      background-position: center;
      background-size: cover;
    }
    body{
      cursor: pointer;
    }
    h1
    {
        color: red; 
        font-size: 40px;
    }
    #myCanvas
    {
        border-width:10px;
        background-color: white; 
        border-style:ridge;
    }
  
    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 42px;
      font-size: 16px;
    }
  
    input
    {
      margin-right: 20px;
    }
  
  #colour{
   color: red;
    font-size: 20px;
  }
    
  #Width{
    color:red;
    font-size: 20px;
  }